@font-face {
    font-family: ProximaNova;
    src: url(./fonts/ProximaNovaBold.otf);
    font-weight: bold;
}


@font-face {
    font-family: ProximaNova;
    src: url(./fonts/ProximaNovaRegular.otf);
    font-weight: normal;
}

@font-face {
    font-family: SourceSansPro;
    src: url(./fonts/SourceSansPro-Bold.ttf);
    font-weight: bold;
}


@font-face {
    font-family: SourceSansPro;
    src: url(./fonts/SourceSansPro-Regular.ttf);
    font-weight: normal;
}


body{
    margin: 0 auto;
    font-family: 'SourceSansPro', serif;
}

/* Background on header */
header{
    position: relative;
    background: url("./images/background.png") no-repeat;
    background-position: center center;
    background-size: cover;
    height: 480px;
}

.container{
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/* Bar for weather, time etc. */
#topbar{
    position: absolute;
    height: 34px;
    display: inline-flex;
    left: 50%;
    transform: translateX(-50%);
    top: 46px;
}

/* Main-menu bar */
nav#main{
    border-radius: 4px;
    position: relative;
    display: flex;
    justify-content: center;
}


/* Respnonsive menu */

.checkbutton{
    position: absolute;
    display: block;
    margin: 10px 10px 0 0;
    height: 24px;
    right: 0;
    cursor: pointer;
}

.menu{
    width: 300px;
    height: 600px;
    display: none;
    position: absolute;
    background-color: white;
    z-index: 12;
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.5);
}

#exit{
    margin-right: 206px;
}

#register-menu{
    text-align: center;
    height: 35px;
    border-bottom: 1px solid #EEEEEE;
    padding-top: 11px;
}

#register-menu span{
    vertical-align: middle;
}

#register-menu a{
    text-decoration: none;
    color: #002868;
    font-size: 14px;
}

#logo img{
    display: block;
    width: 100px;
    height: 100px;
}

/* Main logo */
#logo{
    display: block;
    margin-top: 10px;
}

#flag-menu{
    margin-right: 4px;
}

#top-row{
    padding: 10px;
    background-color: #F8F8F8;
}

.wrapper{
    position: relative;
}

#main-page{
    position: absolute;
    width: 300px;
    height: 600px;
    z-index: 10;
}

#second-page{
    position: absolute;
    display: none;
    width: 300px;
    height: 600px;
    z-index: 11;
}

#return{
    height: 24px;
    background-color: white;
    padding: 10px 0 0 20px;
}

#return a{
    text-decoration: none;
    font-family: 'SourceSansPro', serif;
    font-size: 14px;
    font-weight: normal;
    color: #002868;
    display: table;
    height: 24px;
}

#return span{
    display: table-cell;
    vertical-align: middle;
}

#return span img{
    display: block;
}

/* Main-menu design */
#main-menu{
    margin: 0 0 0 20px;
    padding: 0;
    height: 260px;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
}

#main-menu  a{
    font-family: 'SourceSansPro', serif;
    font-size: 14px;
    color: #002868;
    font-weight: bold;
    text-decoration: none;
} 

#main-menu a:hover{
    color: #BF0A30;
}

#main-menu li:last-child{
    display: none;
}

#main-menu li{
    margin-top: 20px;
}

#main-menu span{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    float: right;
    margin-right: 10px;
}

#main-menu span img{
    width: 20px;
    height: 20px;
}

/* Dropdown list that appears on first element of main-menu */

.dropdown{
    width: 260px;
    height: 540px;
    padding: 26px 10px 0 30px;
    position: absolute;
    z-index: 11;
    background-color: white;
    list-style-type: none;
    margin-top: 0;
}

.dropdown li{
    margin: 20px 0 0 0;
}

.dropdown li:first-child{
    margin-top: 0;
}

.dropdown a{
    font-family: 'SourceSansPro',serif;
    font-size: 14px;
    font-weight: bold;
    color: #002868;
    text-decoration: none;
}

.dropdown a:hover{
    color: #BF0A30;
    cursor: pointer;
}

/* Middle circle configuration */
#featured{
    position: relative;
    display: block;
    margin: 27px auto 90px auto;
    background: url("./images/circle.png"), 0 0 no-repeat;
    height: 220px;
    width: 220px;
    background-size: cover;
    border: 6px solid white;
    border-radius: 100%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
    text-align: center;
    color: white;
    padding: 18px 30px 42px 30px;
    overflow: hidden;
}


#featured > *{
    z-index: 10;
    position: relative;
}

#featured h3{
    margin: 4px 0 15px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
}

#featured h2{
    font-size: 18px;
    margin: 0 0 16px;
}

#featured p{
    font-size: 14px;
    margin-bottom: 0;
}

#featured p#fullsize{
    display: none;
}

#welcome img{
    height: 18px;
    width: 18px;
}

#map{
    position: absolute;
    top: -50%;
    transform: translateX(-50%);
    mix-blend-mode: luminosity;
    opacity: 50%;
}

/* Button for more class */
.morebutton{
    padding: 0;
    border-radius: 4px;
    border: 1px solid white;
    width: 140px;
    height: 40px;
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

#actmorebutton{
    width: 280px;
    height: 50px;
}

.morebutton h4{
    font-family: 'SourceSansPro', serif;
    font-size: 14px;
    width: 100%;
    color: white;
    vertical-align: middle;
    text-align: center;
}

.morebutton span{
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(66px);
    width: 24px;
    height: 24px;
}

.morebutton:hover{
    background-color: #BF0A30;
}

/* Time element on topbar */
#time{
    position: relative;
    width: 66px;
    margin: 0;
    color: white;
}

#time h2{
    font-size: 18px;
    font-family: 'ProximaNova', serif;
    display: inline-flex;
    font-weight: normal;
    margin: 0;
    text-decoration: none;
    height: 25px;
    text-align: center;
}

#time span#clock{
    margin-right: 5px;
}

#time span#clock img{
    width: 16px;
    height: 16px;
}

#time h3{
    font-size: 10px;
    font-family: 'SourceSansPro', serif;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 0 0 22px;
    text-align: right;
    text-decoration: none;
}

/* Weather element on topbar */
#weather{
    position: relative;
    height: 45px;
    width: 75px;
    margin: 0 0 0 140px;
    color: white;
}

#weather h2{
    font-size: 18px;
    font-family: 'ProximaNova', serif;
    display: inline-flex;
    font-weight: normal;
    margin: 0;
    text-decoration: none;
}

#weather span#storm{
    vertical-align: bottom;
    margin-right: 5px;
}

#weather span#storm img{
    width: 16px;
    height: 16px;
}

#weather h3{
    font-size: 10px;
    font-family: 'SourceSansPro', serif;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0 0 auto;
    text-align: right;
    text-decoration: none;
}

span#fahrenheit{
    opacity: 40%;
}

/* Register/Log-in element on topbar */
#register{
    display: none;
    height: 25px;
    width: 150px;
    margin: 23px 0 0 640px;
}


#register a{
    color: white;
    text-decoration: none;
    font-family: 'SourceSansPro', serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
}

#register span#user{
    vertical-align: middle;
    margin-right: 5px;
}

/* Language element on topbar */
#language{
    display: none;
    position: relative;
    margin: 25px 0 0 20px;
}

#language span#flag{
    width: 14px;
    height: 14px;
    margin-right: 4px;
}

/* Element below main menu */
#paf{
    display: block;
    margin: 10px auto 0 auto;
    text-align: center;
}

/* Content inventory background and font */
#inventory{
    background: url("/images/bg.png") no-repeat;
    background-size: cover;
    height: 750px;
    font-family: 'SourceSansPro', serif;
    font-size: 16px;
    text-align: center;
    position: relative;
}

/* Header tree */
#tree{
    display: block;
    text-align: center;
    margin-top: 30px;
}

#tree img{
    display: block;
    margin: 10px auto 0 auto;
}

#tree img:first-child{
    margin-top: 0;
}

#tree h2{
    color: #BF0A30;
    font-size: 34px;
    font-family: 'SourceSansPro', serif;
    display: block;
    margin: 30px auto 0 auto;
    width: 275px;
}

#inventory h3{
    color: #002868;
    font-size: 18px;
}

/* Lists element on inventory */
#lists{
    display: inline-block;
    margin-top: 14px;
}

#inventory .list{
    float: left;
}

.list li{
    display: flex;
}

.list ul{
    text-align: center;
    padding: 0;
    line-height: 25px;
}

.list h3{
    margin-top: 0;
    text-align: center;
}

#list1{
    display: block;
    position: relative;
    width: 275px;
    height: 284px;
    overflow: hidden;
}

#list1 ul li{
    margin-top: 10px;
}

#list1 p{
    height: 80px;
    margin: 0;
}

#list1 ul{
    list-style-type: none;
    margin-top: 20px;
}

#boltline{
    font-weight: bold;
}


#list2{
    display: none;
    width: 475px;
}

#list2 ul{
    list-style: none;
    margin-top: 40px;
}

#list2 li::before{
    content: url(./svgs/arrow.svg);
}

/* Invitation to ceremony */
#ceremony{
    font-family: 'SourceSansPro', serif;
    font-weight: bold;
    margin: 30px auto 0 auto;
    display: block;
    width: 184px;
    height: 121px;
}

#ceremony h2{
    color: #BF0A30;
    font-size: 18px;
    margin: 0;
    height: 20px;
}

#ceremony h1{
    color: #002868;
    font-size: 24px;
    margin: 9px auto 0 auto;
    height: 60px;
}

#ceremony h3{
    color: #002868;
    font-size: 18px;
    margin: 12px 0 0 0;
    height: 20px;
}

/* Activities part background and configuration */
#activities{
    background: #002868;
    height: 650px;
}

#act{
    text-align: center;
}

/* Header element on activities */
#head{
    width: 180px;
    height: 50px;
    display: inline-block;
    margin: 40px auto 30px auto;
}

#head h3{
    color: white;
    font-family: 'SourceSansPro', serif;
    font-weight: bold;
    font-size: 12px;
}

/* List with activities (img and text) element */
#act ul{
    list-style-type: none;
    padding: 0 0 0 20px;
    margin: 0;
    color: white;
    font-family: 'SourceSansPro', serif;
    display: flex;
}

#act li{
    text-align: left;
    margin-right: 20px;
    display: flex;
}

#act ul div{
    flex-grow: 1;
    display: inline-block;
    width: 260px;
    height: 403px;
}

#act ul img{
    width: 260px;
    height: 200px;
    display: block;
}

#act li:last-child{
    margin-right: 0;
}

#act li h2{
    margin: 20px 0 0 0;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
}

#act li p{
    height: 70px;
    font-size: 16px;
    line-height: 25px;
    margin: 12px 0 5px 0;
}

#act li a{
    display: block;
    width: 145px;
    height: 20px;
    padding: 12px 0 12px 5px;
    margin-top: 15px;
    color: white;
    font-family: 'SourceSansPro', serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

#act li a::before{
    content: url(./svgs/more.svg);
    vertical-align: middle;
    margin-right: 5px;
}



/* Contact form configuration */
/* Text, Telephone, E-mail */
input[type=text], input[type=tel], input[type=email]{
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    padding: 10px;
}

/* Textarea */
textarea{
    padding: 15px 10px;
    width: 100%;
    height: 120px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

/* Submit Button */
button{
    background-color: #002868;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    padding: 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    left: 0;
    margin: 40px 0 0 150px;
}

button h4{
    font-family: 'SourceSansPro', serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    vertical-align: middle;
    text-align: center;
}

button span{
    height: 24px;
    width: 24px;
    position: absolute;
    right: 0;
    margin-right: 10px;
    display: block;
    justify-content: center;
}

button:hover{
    border: 1px solid #BF0A30;
    background-color: #BF0A30;
}

/* Icons on telephone and email */
input#phone{
    background: url(./svgs/phone.svg) no-repeat;
    background-position: 10px center;
    padding: 31px;
}

input#email{
    background: url(./svgs/mail.svg) no-repeat;
    background-position: 10px center;
    padding: 31px;
}

/* Form details */
#form{
    display: block;
    width: 280px;
    margin: 0 auto 75px auto;
}

#form h3{
    font-family: 'SourceSansPro', serif;
    color: #002868;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 60px 0 20px 0;
    text-decoration: none;
}

form{
    display: block;
}

label{
    font-family: 'SourceSansPro', serif;
    font-size: 12px;
}

/* Footer configuration */
footer{
    background: #002868;
    height: 630px;
    position: relative;
}

/* Logo and paf imgs */
footer img#flogo{
    display: block;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    border: #979797;
    border-radius: 100%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.30);
}

footer img#fpaf{
    display: block;
    margin: 20px auto 0 auto;
}

#imgs{
    display: block;
    margin-top: 30px;
}

/* Social media list */
footer ul#media{
    width: 280px;
    height: 40px;
    margin: 30px auto 0 auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Footer menu */
footer ul#menu{
    list-style-type: none;
    display: block;
    padding: 0;
    margin: 30px auto 0 auto;
    justify-content: space-between;
    text-align: center;
}

footer ul#menu li{
    margin-top: 20px;
}

footer ul#menu a{
    font-family: 'SourceSansPro', serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

footer ul#menu a:hover{
    color: #BF0A30
}

footer h3{
    display: block;
    text-align: center;
    margin: 30px 0 0 0;
    color: white;
    text-decoration: none;
    font-family: 'SourceSansPro', serif;
    font-size: 14px;
    font-weight: normal;
    opacity: 50%;
}

/* Circle button for going up */
a#up{
    position: absolute;
    width: 44px;
    height: 44px;
    text-align: center;
    background-image: url(./svgs/up.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #BF0A30;
    border-radius: 100%;
    align-items: center;
    justify-items: center;
    bottom: 0;
    right: 0;
    margin: 0 10px 20px 0;
    transform: translateY(-50%);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Media Queries */
@media (min-width: 640px){
    /* Container for every part */
    .container{
        width: 600px;
        margin:0 auto;
    }

    header{
        height: 600px;
    }

    #lists{
        height: 285px;
    }

    #list1{
        width: 364px;
        height: 285px;
    }

    #ceremony{
        width: 440px;
        height: 97px;
    }
    
    #ceremony h1{
        font-size: 34px;
        margin: 5px 0 0 0;
        height: unset;
    }
    
    #ceremony h3{
        margin: 9px 0 0 0;
    }
    
    #form{
        width: 600px;
    }

    button{
        width: 240px;
        height: 50px;
        margin: 40px 0 0 360px;
    }

    textarea{
        padding-right: 30px;
        background: url(./svgs/danger.svg) 570px 15px no-repeat;
    }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media (min-width: 960px){
    /* Container for every part */
    .container{
        width: 920px;
        margin:0 auto;
    }

    header{
        height: 680px;
    }

    /* Main-menu bar */
    nav#main{
        height: 60px;
        background: white;
        display: block;
    }
    
    .checkbutton{
        display: none;
    }

    .menu{
        width: unset;
        height: unset;
        display: unset;
        position: unset;
        background-color: unset;
    }

    #top-row{
        padding: 0;
    }

    #language-menu, #exit, #register-menu{
        display: none;
    }

    #exit{
        display: none;
    }

    #register-menu{
        display: none;
    }

    #main-page{
        position: unset;
    }

    #main-menu{
        position: unset;
        display: flex;
        padding: 0 20px 0 270px;
        height: 60px;
        margin: 0;
    }

    #main-menu a{
        font-size: 12px;
    }

    #main-menu li:last-child{
        display: unset;
    }

    #main-menu span{
        display: none;
    }

    #main-menu li{
        margin-top: 0;
    }

    #second-page{
        margin: 10px 0 0 270px;
    }

    .dropdown{
        width: 260px;
        height: 335px;
        border-radius: 4px;
        padding: 16px 0 23px 20px;
        position: absolute;
    }

    .dropdown li{
        margin: 0;
        height: 28px;
    }

    #return{
        display: none;
    }

    #main-page{
        position: unset;
        width: unset;
        height: unset;
    }

    #logo{
        position: absolute;
        border: 10px solid #AB0427;
        border-radius: 100%;
        left: 50px;
        top: 50%;
        transform: translateY(-50%);
    }

    #logo img{
        border-radius: 100%;
        box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.25);
        width: 180px;
        height: 180px;
    }

    /* Bar for weather, time etc. */
    #topbar{
        position: unset;
        height: 70px;
        display: flex;
        top: 50%;
        transform: translateY(0);
    }

    #paf{
        margin: 20px 0 0 246px;
        text-align: unset;
    }

    #featured{
        width: 340px;
        height: 340px;
    }

    #featured p{
        font-size: 16px;
    }

    #featured h2{
        font-size: 24px;
    }

    #featured h3{
        margin: 10px 0 30px;
        font-size: 12px;
        text-decoration: none;
        font-weight: bold;
    }

    #featured h2{
        margin: 0 0 30px;
    }


    #welcome img{
        height: 24px;
        width: 24px;
    }

    #language{
        display: block;
    }

    #register{
        display: block;
        margin-left: 250px;
    }

    /* Time element on topbar */
    #time{
        position: relative;
        height: 45px;
        width: 85px;
        margin: 0 0 auto 245px;
        transform: translateY(14px);
    }

    #time h2{
        font-size: 26px;
        width: 85px;
        height: 32px;
    }

    #time h3{
        font-size: 12px;
        margin: 0 auto;
        letter-spacing: 2px;
    }

    #time span#clock img{
        width: 20px;
        height: 20px;
    }

    /* Weather element on topbar */
    #weather{
        position: relative;
        height: 45px;
        width: 100px;
        margin: 0 0 auto 20px;
        transform: translateY(14px);
        color: white;
    }

    #weather h2{
        font-size: 26px;
    }

    #weather h3{
        font-size: 12px;
    }

    #weather span#storm img{
        width: 20px;
        height: 20px;
    }

    #lists{
        margin-top: 40px;
        height: 245px;
    }

    #tree{
        margin-top: 40px;
    }

    #tree h2{
        font-size: 48px;
        width: 615px;
        margin: 40px auto 0 auto;
    }

    #tree img{
        width: unset;
        height: unset;
    }

    #list1{
        width: 464px;
        height: 245px;
    }

    #list1 ul li{
        margin-top: 0;
    }

    #list2{
        display: inline-block;
        margin-left: 30px;
        width: 400px;
        height: 245px;
    }

    .list ul{
        text-align: left;
        padding: 0;
    }
    
    .list h3{
        text-align: left;
    }

    #actmorebutton{
        width: 200px;
        height: 50px;
    }

    #act ul div{
        width: 300px;
        height: 413px;
    }

    #act ul img{
        width: 300px;
        height: 200px;
        display: block;
    }

    #act li h2{
        font-size: 24px;
        height: 60px;
    }

    #act li a{
        border-radius: 4px;
        margin-top: 5px;
    }

    #act li a:hover{
        background-color: #BF0A30;
    }

    a#up{
        top: 0;
        margin: 0 100px 0 0;
    }

    #form{
        width: 620px;
    }

    textarea{
        background: url(./svgs/danger.svg) 590px 15px no-repeat;
    }

    button{
        margin: 40px 0 0 380px;
    }

    footer{
        height: 420px;
    }

    footer img#flogo{
        width: 180px;
        height: 180px;
    }

    footer ul#media{
        width: 320px;
    }

    footer ul#menu{
        display: flex;
        text-align: left;
        margin-top: 30px;
    }

    footer ul#menu li{
        margin: 0 20px 0 0;
    }

    footer ul#menu li:last-child{
        margin-right: 0;
    }

    footer h3{
        margin-top: 8px;
    }

    #tree img{
        margin-top: 20px;
    }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media (min-width: 1280px){
    /* Container for every part */
    .container{
        width: 1360px;
        margin:0 auto;
    }

    #main-menu a{
        font-size: 14px;
    }

    #main-menu{
        padding: 0 30px 0 280px;
    }

    nav#main{
        height: 60px;
    }

    #featured{
        width: 362px;
        height: 362px;
        padding: 38px;
    }

    .morebutton{
        width: 200px;
        height: 50px;
        margin-top: 30px;
    }

    .morebutton span{
        display: block;
    }

    #featured p#fullsize{
        display: block;
    }

    #featured p#mobsize{
        display: none;
    }

    header{
        height: 750px;
    }

    #register{
        display: block;
        margin-left: 640px;
    }

    #language{
        display: block;
        margin-left: 40px;
    }

    #list2{
        width: 475px;
        margin-left: 60px;
    }

    #act ul{
        padding-left: 50px;
    }

    footer ul#menu{
        margin: 30px 120px 0 120px;
    }
}